openapi: 3.2.0
info:
  title: CVAT REST Organizations API
  description: REST API for CVAT (Computer Vision Annotation Tool), an open-source platform for annotating images, video, and 3D point clouds.
  termsOfService: https://www.cvat.ai/terms-of-use
  contact:
    name: CVAT Support
    url: https://www.cvat.ai
  license:
    name: MIT License
    url: https://en.wikipedia.org/wiki/MIT_License
  version: '2.0'
servers:
- url: https://app.cvat.ai/api
  description: CVAT Online (hosted)
- url: http://localhost:8080/api
  description: Self-hosted CVAT (default)
security:
- tokenAuth: []
- basicAuth: []
tags:
- name: Organizations
  description: Organizations scoping resources for teams.
paths:
  /organizations:
    get:
      operationId: organizations_list
      tags:
      - Organizations
      summary: List organizations
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A paginated list of organizations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationList'
    post:
      operationId: organizations_create
      tags:
      - Organizations
      summary: Create an organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationWriteRequest'
      responses:
        '201':
          description: The created organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
  /organizations/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      operationId: organizations_retrieve
      tags:
      - Organizations
      summary: Retrieve an organization
      responses:
        '200':
          description: The requested organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    delete:
      operationId: organizations_destroy
      tags:
      - Organizations
      summary: Delete an organization
      responses:
        '204':
          description: The organization has been deleted.
components:
  schemas:
    PaginatedOrganizationList:
      $ref: '#/components/schemas/PaginatedBase'
    Organization:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        owner:
          $ref: '#/components/schemas/BasicUser'
        created_date:
          type: string
          format: date-time
          readOnly: true
    OrganizationWriteRequest:
      type: object
      required:
      - slug
      properties:
        slug:
          type: string
        name:
          type: string
        description:
          type: string
    BasicUser:
      type:
      - object
      - 'null'
      properties:
        id:
          type: integer
          readOnly: true
        username:
          type: string
        first_name:
          type: string
        last_name:
          type: string
    PaginatedBase:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            type: object
  parameters:
    PageSize:
      name: page_size
      in: query
      schema:
        type: integer
      description: Number of results to return per page.
    Page:
      name: page
      in: query
      schema:
        type: integer
      description: A page number within the paginated result set.
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: A unique integer value identifying this resource.
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token authentication. Send the header `Authorization: Token <key>` where the key is obtained from POST /auth/login.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with CVAT username and password.
